<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Client - Vérifier un produit</title>
</head>
<body>
    <h1>Vérification d'un produit</h1>

    <form action="/chercher" method="POST">
        <label for="product_id">ID du Produit (Code-barres ou identifiant) :</label><br>
        <input type="text" id="product_id" name="product_id" required><br><br>

        <input type="submit" value="Rechercher">
    </form>

    <br>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
